<mat-form-field>
  <mat-label>Title</mat-label>
  <input matInput cdkFocusInitial [(ngModel)]="data.menu.title" />
</mat-form-field>

<mat-form-field>
  <mat-label>Description</mat-label>
  <textarea matInput [(ngModel)]="data.menu.description"></textarea>
</mat-form-field>

<mat-form-field>
  <mat-label>Price</mat-label>
  <textarea matInput [(ngModel)]="data.menu.price"></textarea>
</mat-form-field>

<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="{ menu: data.menu }">OK</button>
  <button mat-button (click)="cancel()">Cancel</button>
  <button *ngIf="data.enableDelete" mat-fab color="primary" aria-label="Delete"
    [mat-dialog-close]="{ menu: data.menu, delete: true }">
    <mat-icon>delete</mat-icon>
  </button>
</div>