<mat-card class="mat-elevation-z5">
    <mat-card-header>
        <mat-card-title>Daftar Menu</mat-card-title>
        <mat-card-subtitle>Toko Kesayangan</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
        <p>Hello</p>
        <app-order-menu-button *ngFor="let menu of menus | async" [menu]="menu" (click)="addToBasket(menu)">
        </app-order-menu-button>
    </mat-card-content>

</mat-card>

<mat-card class="mat-elevation-z5">
    <mat-card-header>
        <mat-card-title>Basket</mat-card-title>
        <mat-card-subtitle>"Ada pesanan tambahan?"</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
        <ul>
            <li *ngFor="let item of basket">
                {{item.title}}
            </li>
        </ul>

        Total: <span> </span>{{total}}
    </mat-card-content>

    <div mat-dialog-actions>

        <button mat-button>Cancel</button>
        <button mat-button (click)="upload(basket, total)"> Proceed</button>
    </div>


</mat-card>